.toggleButton {
  opacity: 0.65;
  position: relative;
  border-radius: 5px;
  width: 40px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s ease;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  padding: 0;
  appearance: none;
}

.toggleButton:hover,
.toggleButton:focus {
  opacity: 1;
}

.toggleIcon {
  position: relative;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  transition: all 0.45s ease;
}

:global([data-theme='dark'] .toggleIcon) {
  border: 4px solid var(--ifm-toggle-icon-color);
  background-color: var(--ifm-toggle-icon-color);
  transform: scale(0.55);
  overflow: visible;
  box-shadow: none;
}

:global([data-theme='light'] .toggleIcon) {
  border: none;
  background-color: transparent;
  transform: scale(1);
  overflow: hidden;
  box-shadow: inset 8px -8px 0px 0px var(--ifm-toggle-icon-color);
}

.toggleIcon::before {
  content: '';
  position: absolute;
  right: -9px;
  top: -9px;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  transition: transform 0.45s ease;
}

:global([data-theme='dark'] .toggleIcon::before) {
  border: 2px solid var(--ifm-toggle-icon-color);
  transform: translate(14px, -14px);
  opacity: 0;
}

:global([data-theme='light'] .toggleIcon::before) {
  border: none;
  transform: translate(0, 0);
  opacity: 1;
}

.toggleIcon::after {
  content: '';
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin: -4px 0 0 -4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transition: all 0.35s ease;
}

:global([data-theme='dark'] .toggleIcon::after) {
  box-shadow: 0 -23px 0 var(--ifm-toggle-icon-color), 0 23px 0 var(--ifm-toggle-icon-color), 23px 0 0 var(--ifm-toggle-icon-color), -23px 0 0 var(--ifm-toggle-icon-color),
    15px 15px 0 var(--ifm-toggle-icon-color), -15px 15px 0 var(--ifm-toggle-icon-color), 15px -15px 0 var(--ifm-toggle-icon-color), -15px -15px 0 var(--ifm-toggle-icon-color);
  transform: scale(1);
}

:global([data-theme='light'] .toggleIcon::after) {
  transform: scale(0);
}
