name: Label sponsors
on:
  pull_request:
    types: [opened]
  issues:
    types: [opened]
jobs:
  build:
    name: is-sponsor-label
    runs-on: ubuntu-latest
    steps:
      - uses: JasonEtco/is-sponsor-label-action@v1.2.0
        with:
          label: sponsor
        env:
          GITHUB_TOKEN: ${{ secrets.ACTIONS_TOKEN }}
